:root {
  --dark-blue: #053844;
  --pink: pink;
  --light-blue: #6fe1f3;
  --heading-font: Bungee Shade;
  --content-font: "Courier New", Courier, monospace;
}

body {
  margin: 0px;
  background-image: url(./Images/spotty.jpg);
  height: 100vh;
  background-repeat: repeat;
  background-size: 400px 400px;
}
.header {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: var(--heading-font);
  font-size: 40px;
  color: var(--dark-blue);
  background-color: var(--pink);
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
}
h2 {
  font-family: var(--heading-font);
  font-size: 35px;
  color: var(--dark-blue);
  text-emphasis: bold;
  margin: 0px;
}
h3 {
  font-family: var(--content-font);
  font-size: 17px;
  color: var(--dark-blue);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--pink);
  padding: 10px;
  border: var(--dark-blue) 2px solid;
  border-radius: 5px;
}
.list-box-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.list-box {
  width: 350px;
  height: 380px;
  border-radius: 5px;
  border: var(--dark-blue) 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Images/lined-paper-background.PNG);
  background-size: contain;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-field {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: var(--dark-blue) 2px solid;
  text-align: center;
  font-family: var(--content-font);
}
.add-task-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--pink);
  border: var(--dark-blue) 2px solid;
  font-family: var(--content-font);
  color: var(--dark-blue);
  font-weight: bold;
}
.add-task-button:hover {
  transform: scale(1.1);
  background-color: var(--light-blue);
}
.list {
  font-family: var(--content-font);
  font-size: 17px;
  text-align: center;
}
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
